Requirements:
    Introduction:
    Research:
    Cost and Features and Timeline:
    Defining Our System:
    SWOT Analysis:
    4W's and 1'H:
        Who:
        What:
        When:
        Where:
        How:
    Detail requirements:
        High Level Requirements:
        Low Level Requirements:
        


