Requirements:
    Build your Requirements:
        Identify Feature:
        State Of Art:
            Ageing - Time:
            Ageing - Cost / Feature Evolution
        Identify your Requirements:
        4 W and 1 H:
        SWOT Analysis:
    Derive High Level Requirements
    Derive Low Level Requirements